/* CSS declarations go here */
body, html { margin: 0; padding: 0; }

body {
  font-family: Ubuntu, sans-serif;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 960px;
}

.body {
  float: left;
}

.results li {
  list-style:none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

h2 {
  padding: 0 10px;
}

dt {
  float: left;
  width: 140px;
  white-space: nowrap;
  padding-right: 10px;
  text-align: right;
}
dt:after {
  content: ": ";
}

dd { margin: 0; }

dd:nth-child(4n) {
  background: #eee;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
