
<template name="startTestForm">
  <form class="form-inline" role="form">
    <div class="form-group">
      <div class="input-group">
        <label class="sr-only" for="insCount">Insert Count</label>
        <input type="number" min="1" max="100000" step="100"
          class="form-control" id="insCount" value="1001">
        <div class="input-group-addon">rows/docs</div>
      </div>
      <div class="input-group">
        <label class="sr-only" for="sampleSize">Sample Size</label>
        <input type="number" min="1" max="100" step="1"
          class="form-control" id="sampleSize" value="1">
        <div class="input-group-addon">repetitions</div>
      </div>
    </div>
    <div class="checkbox">
      {{#each methods}}
      <label>
        <input type="checkbox" checked name="{{ key }}"> {{ key }}
      </label>
      {{/each}}
    </div>
    <button type="submit" class="btn btn-default">Run Test</button>
  </form>
</template>
